%% -*- erlang -*-
{erl_opts, [{$D,log_debug},
	    debug_info,
	    % report,
	    % nowarn_unused_vars,
	    warn_obsolete_guard,
	    warn_unused_import,
	    warn_shadow_vars,
	    warn_export_vars
	    % strong_validation,
	    % warnings_as_errors
	   ]}.

%% == Additional library directories to add to the code path == 
{lib_dirs, ["apps/rebar/"]}.

%% == Plugins ==
{plugins_dir,["deps"]}.
{plugins,[
	  dip_orm_compiler,
	  rebar_erlydtl_compiler
	 ]}.

%% == ErlyDTL Compiler ==
{erlydtl_opts, [
		{out_dir, "ebin"},
		{recursive, false},
		% {custom_tags_modules,[]},
		{compiler_options,[debug_info]},
		[
		 {doc_root, "priv/templates/db"},
		 {source_ext, ".dtl"},
		 {module_ext, "_db_dtl"}
		],
		[
		 {doc_root, "priv/templates/dip"},
		 {source_ext, ".dtl"},
		 {module_ext, "_dip_dtl"}
		]
	       ]}.

%% == Dependencies ==
{deps, [
	{epgsql_pool, ".*",
	 {git, "git://github.com/Egobrain/epgsql_pool.git", "master"}},
	{erlydtl, ".*",
	 {git, "git://github.com/Egobrain/erlydtl.git", "master"}},
	{erlando, ".*",
	 {git, "git://github.com/rabbitmq/erlando.git", "master"}}
       ]}.

% == Parse trancsform modules ==
{erl_first_files, []}.


%% == Dialyzer ==
{dialyzer_opts, [{warnings, [no_unused,
                             no_improper_lists, no_fun_app, no_match,
                             no_opaque, no_fail_call,
                             error_handling, no_match,
                             unmatched_returns,
                             behaviours, underspecs]}]}.

%% == Subdirectories ==
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%% == ErlyDTL Compiler ==
{erlydtl_opts, []}.

% == EDoc ==
{edoc_opts,[{packages,false}]}.

%% == Xref ==
{xref_warnings, false}.
{xref_checks, [
	       % exports_not_used,
	       undefined_function_calls]}.

{verbose, 3}.
